#main-content {
    border: 1px solid #999;
    background-color: #CCC;
}

#main-content {
    border: 1px solid #999;
    background-color: #CCC;
    width: 400px;
    padding: 10px;
}

ol {
    margin: 0px;
}

.list-item {
    display: flex;
}

.list-item:nth-child(odd) {
    border: 1px solid #AAA;
    background-color: #DDD;
}

.list-item:nth-child(even) {
    border: 1px solid #999;
    background-color: #CCC;
}

.list-item span {
    flex-grow: 100;
}

.remove-button {
    float: right;
}